@import "~bootstrap/scss/bootstrap";

body {
    background-color:whitesmoke;
}

.main-content {
    margin-top: 5rem;
}

.divider {
    margin: 2rem 0 2rem 0;
}

.create-announcement{
    display: flex;
    flex-direction: row;
    * {
        margin-right: 15px;
    }

    & select {
        flex: 0 1 auto;
    }
    & input {
        flex: 1 0;
    }
    & button {
        flex: 0 0;
    }
}

.edit-announcement-Informational {
    background-color:darkseagreen !important;
}

.edit-announcement-Warning {
    background-color:goldenrod !important;
}

.edit-announcement-Urgent {
    background-color:darksalmon !important;
}
